<!DOCTYPE>
<html>
  <head>
    <link href="stylesheets/application.css" rel="stylesheet">
    <script src="javascripts/application.js"></script>
  </head>
  <body>

    <table class="table table-hover">
      <thead>
        <tr>
          <th></th>
          <th>JSON</th>
          <th>Message Pack</th>
          <th>Protocol Buffers</th>
          <th>Flat Buffers</th>
        </tr>
      </thead>

      <tbody>
        <tr class="start-times">
          <td>Start Time:</td>
          <td class="json"></td>
          <td class="message-pack"></td>
          <td class="protocol-buffers"></td>
          <td class="flat-buffers"></td>
        </tr>

        <tr class="end-times">
          <td>End Time:</td>
          <td class="json"></td>
          <td class="message-pack"></td>
          <td class="protocol-buffers"></td>
          <td class="flat-buffers"></td>
        </tr>

        <tr class="total-times">
          <td>Total Time:</td>
          <td class="json"></td>
          <td class="message-pack"></td>
          <td class="protocol-buffers"></td>
          <td class="flat-buffers"></td>
        </tr>

        <tr class="run">
          <td></td>
          <td><button class="btn btn-success json">Run</button></td>
          <td><button class="btn btn-success message-pack">Run</button></td>
          <td><button class="btn btn-success protocol-buffers">Run</button></td>
          <td><button class="btn btn-success flat-buffers">Run</button></td>
        </tr>
      </tbody>
    </table>

  </body>
</html>
